<!-- Footer Wrapper -->
<div id="footer-wrapper">
    <footer id="footer" class="5grid-layout">
        <div class="row">
            <div class="3u">

                <!-- Links -->
                <section class="widget-links">
                    <h2>Random Stuff</h2>
                    <ul class="style2">
                        <li><a href="#">Etiam feugiat condimentum</a></li>
                        <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                        <li><a href="#">Sed porttitor cras in erat nec</a></li>
                        <li><a href="#">Felis varius pellentesque potenti</a></li>
                        <li><a href="#">Nullam scelerisque blandit leo</a></li>
                    </ul>
                </section>

            </div>
            <div class="3u">

                <!-- Links -->
                <section class="widget-links">
                    <h2>Random Stuff</h2>
                    <ul class="style2">
                        <li><a href="#">Etiam feugiat condimentum</a></li>
                        <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                        <li><a href="#">Sed porttitor cras in erat nec</a></li>
                        <li><a href="#">Felis varius pellentesque potenti</a></li>
                        <li><a href="#">Nullam scelerisque blandit leo</a></li>
                    </ul>
                </section>

            </div>
            <div class="3u">

                <!-- Links -->
                <section class="widget-links">
                    <h2>Random Stuff</h2>
                    <ul class="style2">
                        <li><a href="#">Etiam feugiat condimentum</a></li>
                        <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                        <li><a href="#">Sed porttitor cras in erat nec</a></li>
                        <li><a href="#">Felis varius pellentesque potenti</a></li>
                        <li><a href="#">Nullam scelerisque blandit leo</a></li>
                    </ul>
                </section>

            </div>
            <div class="3u">

                <!-- Contact -->
                <section class="widget-contact last">
                    <h2>Contact Us</h2>
                    <ul>
                        <li><a href="#" class="twitter">Twitter</a></li>
                        <li><a href="#" class="facebook">Facebook</a></li>
                        <li><a href="#" class="dribbble">Dribbble</a></li>
                        <li><a href="#" class="googleplus">Google+</a></li>
                    </ul>
                    <p>1234 Fictional Road Suite #5432<br />
                        Nashville, Tennessee 00000-0000<br />
                        (800) 555-0000</p>
                </section>

            </div>
        </div>
        <div class="row">
            <div class="12u">
                <div id="copyright">
                    &copy; [[++site_name]]. All rights reserved. | Images: <a href="http://fotogrph.com/">Fotogrph</a> + <a href="http://iconify.it/">Iconify.it</a> | Design: <a href="http://html5up.net/">HTML5 Up!</a>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>
</html>