<!-- Header Wrapper -->
<div id="header-wrapper">
    <div class="5grid-layout">
        <div class="row">
            <div class="12u">

                <!-- Header -->
                <header id="header">

                    <!-- Logo -->
                    <div id="logo">
                        <h1><a href="#" class="mobileUI-site-name">Verti</a></h1>
                        <span>A responsive site template by HTML5 Up!</span>
                    </div>

                    <!-- Nav -->
                    <nav id="nav" class="mobileUI-site-nav">
                        <ul>
                            <li class="current_page_item"><a href="">Welcome</a></li>
                            <li><a href="">Left Sidebar</a></li>
                            <li><a href="">Right Sidebar</a></li>
                            <li><a href="">No Sidebar</a></li>
                        </ul>
                    </nav>

                </header>

            </div>
        </div>
    </div>
</div>