[[$simple.head]]
    [[$simple.header]]
    [[scope?case=`themePathUrl` &toPlaceholder=`true`]]
    <!-- Banner Wrapper -->
    <div id="banner-wrapper">
        <div class="5grid-layout">
            <div class="row">
                <div class="12u">

                    <!-- Banner -->
                    <div id="banner" class="box">

                        <div class="5grid">
                            <div class="row">
                                <div class="7u">
                                    <h2>Hi. This is Verti.</h2>
                                    <p>It's a free responsive HTML5 site template by HTML5 Up!</p>
                                </div>
                                <div class="5u">
                                    <ul>
                                        <li><a href="#" class="button button-big button-icon button-icon-rarrow">Ok let's go</a></li>
                                        <li><a href="#" class="button button-alt button-big button-icon button-icon-question">More info</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Features Wrapper -->
    <div id="features-wrapper">
        <div class="5grid-layout">
            <div class="row">
                <div class="4u">

                    <!-- Box -->
                    <section class="box box-feature">
                        <a href="#" class="image image-full"><img src="[[+themePathUrl]]/assets/images/pic01.jpg" alt="" /></a>
                        <div class="inner">
                            <header>
                                <h2>Put something here</h2>
                                <span class="byline">Maybe here as well I think</span>
                            </header>
                            <p>You can put all kinds of stuff here, though I’m not sure what. Maybe a
                                little bit about one of those things you do that’s so cool?</p>
                        </div>
                    </section>

                </div>
                <div class="4u">

                    <!-- Box -->
                    <section class="box box-feature">
                        <a href="#" class="image image-full"><img src="[[+themePathUrl]]/assets/images/pic02.jpg" alt="" /></a>
                        <div class="inner">
                            <header>
                                <h2>An interesting title</h2>
                                <span class="byline">This is also an interesting subtitle</span>
                            </header>
                            <p>You can put all kinds of stuff here, though I’m not sure what. Maybe a
                                little bit about one of those things you do that’s so cool?</p>
                        </div>
                    </section>

                </div>
                <div class="4u">

                    <!-- Box -->
                    <section class="box box-feature last">
                        <a href="#" class="image image-full"><img src="[[+themePathUrl]]/assets/images/pic03.jpg" alt="" /></a>
                        <div class="inner">
                            <header>
                                <h2>Oh, and finally ...</h2>
                                <span class="byline">Here's another intriguing subtitle</span>
                            </header>
                            <p>You can put all kinds of stuff here, though I’m not sure what. Maybe a
                                little bit about one of those things you do that’s so cool?</p>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>

    <!-- Main Wrapper -->
    <div id="main-wrapper">
        <div class="5grid-layout">
            <div class="row">
                <div class="4u">

                    <!-- Sidebar -->
                    <div id="sidebar">
                        <section class="widget-thumbnails">
                            <h3>More free stuff</h3>
                            <div class="do-5grid grid">
                                <div class="row">
                                    <div class="do-6u"><a href="http://html5up.net/minimaxing/" class="image image-full x"><img src="[[+themePathUrl]]/assets/images/pic04.jpg" alt="" /></a></div>
                                    <div class="do-6u"><a href="http://html5up.net/halcyonic/" class="image image-full y"><img src="[[+themePathUrl]]/assets/images/pic05.jpg" alt="" /></a></div>
                                </div>
                                <div class="row">
                                    <div class="do-6u"><a href="http://html5up.net/arcana/" class="image image-full x"><img src="[[+themePathUrl]]/assets/images/pic06.jpg" alt="" /></a></div>
                                    <div class="do-6u"><a href="http://html5up.net/zerofour/" class="image image-full y"><img src="[[+themePathUrl]]/assets/images/pic07.jpg" alt="" /></a></div>
                                </div>
                            </div>
                            <a href="http://html5up.net/" class="button button-icon button-icon-paper">More</a>
                        </section>
                    </div>

                </div>
                <div class="8u">

                    <!-- Content -->
                    <div id="content">
                        <section class="last">
                            <h2>So what's this all about?</h2>
                            <p>This is Verti, a free and fully responsive HTML5 site template by <a href="#">HTML5 Up!</a>
                                It’s built on <a href="#">5grid</a>, which means it’s easy to customize and works very nicely on mobile devices
                                (try it for yourself -- size the window down and hit reload). Like everything else at HTML5 Up!,
                                Verti is released under the <a href="#">Creative Commons Attribution license</a>, so feel free to use it for
                                pretty much anything you want (be it a personal project or a commercial venture), just don’t
                                forget to credit us!</p>
                            <p>Like what you see here? Click the hugeass button below to see more of our work:</p>
                            <a href="http://html5up.net/" class="button button-icon button-icon-rarrow">More @ HTML5 Up!</a>
                        </section>
                    </div>

                </div>
            </div>
        </div>
    </div>

[[$simple.footer]]